.explore{
    font-family: Muli, sans-serif;
    font-weight: 700;
    font-size: 17px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    padding: 20px 60px;
    background-color: #FB8F1D;
    color: #FFFFFF;
    cursor: pointer;
}

.learnMoreSection{
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 141px 111px;
}

.learnMoreSection > div{
    max-width: 40%;
}

.learnMoreSection h1{
    font-family: Playfair, serif;
    font-size: 36px;
    font-weight: 700;
    max-width: 80%;
    padding: 0 0 20px 0;
}

.learnMoreSection p{
    color: #7D7987;
    font-size: 17px;
    font-family: Muli, sans-serif;
    font-weight: 30;
    max-width: 77.5%;
    padding: 0 0 33px;
}
